language: node_js
node_js:
  - "node"
install:
  - npx lerna bootstrap --hoist
script:
  - npm run build
  - npm test -- --coverage
after_success:
  - bash <(curl -s https://codecov.io/bash)
before_deploy:
  - echo "//registry.npmjs.org/:_authToken=\${NPM_TOKEN}" >> $HOME/.npmrc
deploy:
  provider: script
  skip_cleanup: true
  script:
    - npm run deploy
branches:
  only:
    - master
    - next
notifications:
  email: false
